.profileContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
    color: var(--text-light-gray);
    overflow-x: hidden;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 1.5rem;
    color: var(--text-light-gray);
}

.error {
    color: var(--text-danger);
}

.profileHeader {
    position: relative;
    margin-bottom: 80px;
}

.banner {
    height: 120px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.avatarContainer {
    position: absolute;
    bottom: -60px;
    left: 16px;
    border: 6px solid var(--primary-color);
    border-radius: 50%;
    line-height: 0;
    overflow: hidden;

    &:hover .uploadAvatar {
        visibility: visible;
    }
}

.avatar {
    width: 120px;
    height: 120px;
    background-color: var(--primary-color);
}

.uploadAvatar {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--quaternary-color);
    opacity: 0.7;
    cursor: pointer;
    visibility: hidden;
}

.profileContent {
    padding-top: 20px;
}

.userInfo {
    margin-bottom: 24px;
}

.username {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 8px;
}

.discriminator {
    font-size: 1.2rem;
    color: var(--text-gray);
    margin-left: 4px;
}

.badgesContainer {
    display: flex;
    gap: 8px;
}

.aboutSection,
.detailsSection {
    background-color: var(--secondary-color);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.sectionHeading {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--text-gray);

    &:not(:first-of-type) {
        padding-top: 16px;
    }
}

.detailsSection .sectionHeading {
    margin-bottom: 4px;
}

.bio {
    color: var(--text-light-gray);
    word-break: break-word;
    white-space: pre-wrap;
    line-height: 1.4;
}

.detailsSection p {
    margin-bottom: 16px;
}

.actionButtons {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Form styles */
.editForm {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: min(100%, 900px);
    padding: 20px;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.formGroup {
    margin-bottom: 16px;
}

.formRow {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.formRow .formGroup {
    flex: 1;
    margin-bottom: 0;
}

.formGroup label {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-gray);
}

.formGroup input,
.formGroup select {
    width: 100%;
    padding: 10px;
    background-color: var(--quaternary-color);
    border-radius: 4px;
    color: var(--text-white);
    font-size: 16px;
}

.formGroup input:focus,
.formGroup select:focus {
    border-color: var(--quaternary-color);
    outline: none;
}

.errorInput {
    border-color: var(--text-danger);
}

.errorText {
    color: var(--text-danger);
    font-size: 12px;
    margin-top: 4px;
}

.formActions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
}
