/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    border-radius: 8px;
    background-color: var(--primary-color);
}

.modalContent div {
    display: flex;
    gap: 20px;
}

.preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
